body {
  background-image: url("https://t4.ftcdn.net/jpg/06/14/46/77/360_F_614467744_7eLjYhKWJIvnu8fk8MTp9VXFYpB15J3p.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.world-clock-hq {
  max-width: 600px;
  background: #fcc8e3;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  border: black;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}
h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 45px;
  text-align: center;
  color: #2e0e40;
}

h2 {
  margin: 0 0 10px;
  color: #ed208c;
  font-size: 25px;
}
select {
  display: block;
  background: #fddeef;
  color: black;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
}
.date {
  opacity: 0.6;
  font-size: 15px;
  font-weight: 200;
  color: #2e0e40;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px dashed #042e1c;
}
.city:last-child {
  border: none;
}
.time {
  font-size: 44px;
  font-weight: bold;
  color: #ed208c;
}
.time small {
  font-size: 20px;
  vertical-align: middle;
}
a {
  color: #2e0e40;
}
footer {
  text-align: center;
  font-size: 20px;
  color: white;
}

.links {
  color: white;
}
